.bandpage-div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* width: 70%; */
  text-align: center;
}

.justify-text {
  text-align: justify;
  align-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 90px;
  padding-left: 90px;
}

.bandpage-div img {
  height: 300px !important;
}

.orange-line {
  color: rgb(255, 183, 3);
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid rgb(255, 183, 3);
}

.container {
  margin: 50px 250px 100px 250px;
}

img.ui.image {
  max-width: 300px;
  border: 1px solid black;
}

.simple-text {
  font-size: 15px;
}
