.editBandDiv{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

.ok{
    font-family: 'Fugaz One', cursive;
}


.editBandForm{
    width: 70%;
    text-align: center;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 2%;
    box-shadow: 12px 12px 10px 1px rgba(255, 166, 43, .2);
}