@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* .ui.fluid.multiple.selection.dropdown {
 margin-left: 300px;
 margin-right: 300px
} */

.foo {
  margin-left: 300px;
  margin-right: 300px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  
} */

.lookingFor {
  margin-top: 20px;
  margin-bottom: -25px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Gothic A1", sans-serif;
}

#search {
  margin: 50px 700px 50px 100px;
}

.orange-line {
  color: rgb(255, 183, 3);
  border: 1px solid rgb(255, 183, 3);
}

.orange-style {
  height: 100px;
  background: linear-gradient(-45deg, #ee7752, #dc2f02, #ffb703, #F77F00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  border-bottom: black solid 1px;
}

/* .gradient-line {
  margin: 50px 300px 0px 300px;
  height: 10px;
  background: linear-gradient(-45deg, #ee7752, #dc2f02, #ffb703, #F77F00);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: 1px solid black;
} */

.centered-title {
padding-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Fugaz One', cursive;
  font-size: 40px;
  border-bottom: 11px solid rgb(255, 186, 8);
  margin: 0px 600px 0px 600px;
}
.web-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* font-family: "Shrikhand", cursive; */
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  height: 80px;
  border-bottom: 1px solid black;
  background: linear-gradient(-45deg, #ee7752, #dc2f02, #ffb703, #F77F00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.music-note-one {
  max-height: 40px;
  position: relative;
  bottom: 60px;
  left: 500px;
}

.music-note-two {
  max-height: 40px;
  position: relative;
  bottom:  100px;
  left: 900px
}

.ui.menu .item {

}

.ui.menu {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  position: absolute;
  z-index: 1;
}

.ui.cards {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);  
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}


.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* /// */

.row-anim {
  display: flex;
  position: absolute;
  bottom: 800px;
}

.muzieknootjes {
  display: block;
  margin: auto;
  position: relative;
  width: 30%;
  min-width: 300px;
  height: 80px;
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 25px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
