.signupDiv{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    margin-top: 10%;
}

.signupDiv h1{
    position: relative;
    left: 348px;
    margin-bottom: 15px;
}

.signupForm{
    width: 70%;
    text-align: center;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 2%;
    box-shadow: 12px 12px 10px 1px rgba(255, 166, 43, .2);
}

.errorEmailTaken{
    margin-top: 10px;
    width: 70%;
    text-align: center;
    padding: 20px;
    border-radius: 2%;
}