.signinForm{
    width: 40%;
    text-align: center;
    box-shadow: 12px 12px 10px 1px rgba(255, 166, 43, .2);
    border: 1px solid grey;
    padding: 20px;
    border-radius: 2%;
  }
  
  .signinDiv{
    display: flex;
    flex-direction: column;
    margin-left: 37%;
    margin-top: 13%;
  }

  .signinDiv h1 {
position: relative;
left: 141px;
margin-bottom: 15px;

  }

  .errorCredentials{
    width: 40%;
    text-align: center;
    padding: 20px;
    border-radius: 2%;
  }

  .center-sign {
    position: relative;
    top: 170px;
    left: 675px;
  }